.button {
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  font-size: 0.8rem;
  border-style: none;
  background: transparent;
  color: $black1;
  border: solid 1px $black1;
  display: block;
  margin: 30px auto;
  @include title;
  transition: 0.2s;

  &:hover {
    background: $black1;
    color: $white1;
    font-family: font-ital;
  }

  @media screen and (max-width: 700px) {
    font-size: 1rem;
    padding: 15px;
    letter-spacing: 4px;
  }
}
