footer {
  width: 85%;
  margin: 30px auto;
  background: $grey2;
  display: grid;
  grid-template-columns: 50% 50%;

  @media screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
  }

  .left-part {
    padding: 20px;

    form {
      display: grid;
      grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
      gap: 20px;
      @media screen and (max-width: 700px) {
        width: 80%;
        margin: 0 auto;
      }

      label {
        @include title;
        text-align: left;
        color: $grey1;
        font-size: 0.7rem;
      }

      input {
        padding: 10px;

        &:focus {
          box-shadow: 1px 1px 1px rgb(0, 15, 128);
          border: solid 1px $black1;
        }
      }

      input[type="text"] {
        border-style: none;
        border: 1px solid $grey1;
        outline: none;
        background: transparent;
        border-radius: 3px;
      }
      input[type="textarea"] {
        border-style: none;
        border: 1px solid $grey1;
        outline: none;
        background: transparent;
        border-radius: 3px;
      }

      .submit-container {
        display: flex;
        align-items: flex-end;
      }

      input[type="submit"] {
        cursor: pointer;
        text-decoration: none;
        font-family: font-1;
        text-transform: uppercase;
        padding: 10px;
        font-size: 0.8rem;
        border-style: none;
        background: transparent;
        color: $grey1;
        border: solid 1px $grey1;
        margin: 0;

        &:hover {
          background: $black1;
          color: $white1;
          font-family: font-ital;
        }
      }
    }
  }
  .right-part {
    grid-template-rows: repeat(4, 1fr);

    @media screen and (max-width: 700px) {
      position: relative;
      border-top: solid 1px $grey1;
    }

    div {
      display: grid;
      margin: 0 auto;
      grid-template-columns: 30% 60%;
      gap: 10%;
      align-items: center;
      box-shadow: -1px 1px $grey1;
      padding: 15px;
      height: 25%;

      @media screen and (max-width: 700px) {
        grid-template-columns: 40% 40%;
      }
    }
    h6 {
      @include title;
      color: $grey1;
      font-size: 0.8rem;
      text-align: left;
      padding-left: 30px;
      @media screen and (max-width: 700px) {
        margin: 15px;
      }
    }

    p {
      color: $grey1;
      font-size: 0.8rem;
      text-align: left;
      display: flex;
      justify-content: left;
    }

    .social {
      display: flex;
      justify-content: space-around;

      a {
        color: $black1;
        font-size: 1.1rem;
        border: solid 1px $grey1;
        border-radius: 150px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        text-decoration: none;
      }
    }
  }
}
