.part-1 {
  width: 80%;
  margin: 0 auto;
  h4 {
    text-align: center;
    font-family: font-light;
    padding: 50px;
    position: relative;
    color: $black1;

    @media screen and (max-width: 700px) {
      font-size: 1.2rem;
    }
    &:before,
    &:after {
      content: "";
      background: $grey1;
      width: 25%;
      height: 0.5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media screen and (max-width: 700px) {
        width: 30%;
      }
    }

    &::before {
      left: 0;
    }

    &:after {
      right: 0;
    }
    @media screen and (max-width: 700px) {
    }
  }

  h2 {
    @include title;
    font-size: 2rem;
  }

  p {
    font-family: font-ital;
    line-height: 30px;
    color: $black1;
    text-align: center;
    width: 60%;
    margin: 30px auto;

    @media screen and (max-width: 700px) {
      line-height: 40px;
    }
  }

  .image-1 {
    background: url(./images/pic01.jpg) center/cover;
    height: 500px;
    width: 80%;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
      height: 300px;
    }
  }
}
