nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 10%;
  background: rgba(255, 255, 255, 0.274);

  @media screen and (max-width: 700px) {
    display: flex;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    color: $white1;

    @media screen and (max-width: 700px) {
      justify-content: space-around;
    }
  }

  ul {
    @include center;
    &:hover button:not(:hover) {
      background: none;
      color: $white1;
    }

    .home {
      width: 100%;
      color: $black1;
      background: $white1;
    }

    button {
      @include title;
      height: 100%;
      cursor: pointer;
      height: 100%;
      margin: 0;
      padding: 15px;
      text-decoration: none;
      font-size: 0.7rem;
      border-style: none;
      background: transparent;
      color: $white1;

      &:hover {
        color: $black1;
        background: $white1;
      }

      @media screen and (max-width: 570px) {
        padding: 10px;
      }
    }
  }
  .social {
    min-width: 100px;
    max-width: 300px;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  a {
    cursor: pointer;
    text-decoration: none;
    color: $white1;
    font-size: 1.5rem;
    transition: 0.15s;
    &:hover {
      color: black;
    }
  }
}
