.part-1 {
  h4 {
    text-align: center;
    font-family: font-2;
    padding: 50px;
    position: relative;
    color: $color2;
    &:before {
      content: "";
      background: $color3;
      width: 25%;
      height: 0.5px;
      position: absolute;
      transform: translate(-300px, 10px);
    }
    &:after {
      content: "";
      background: $color3;
      width: 25%;
      height: 0.5px;
      position: absolute;
      transform: translate(65px, 10px);
    }
  }

  h2 {
    font-family: font-bold;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 auto;
    width: 50%;
  }

  p {
    font-family: font-ital;
    color: $color3;
    text-align: center;
    width: 40%;
    margin: 30px auto;
  }

  .image-1 {
    background: url(./images/pic01.jpg) center/cover;
    height: 500px;
    width: 80%;
    margin: 0 auto;
  }
}
