@font-face {
  font-family: "font-1";
  src: url(./fonts/Inter-SemiBold.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./fonts/Inter-Thin.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(./fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "font-ital";
  src: url(./fonts/Merriweather-LightItalic.ttf);
}

$color1: rgb(233, 233, 233);
$color2: rgb(18, 18, 18);
$color3: rgb(129, 129, 129);

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: url(../Styles/images/bg1.jpg) fixed center/cover;
}

.milieu {
  width: 85%;
  margin: 0 auto;
  background: $color1;
}
