@font-face {
  font-family: "font-1";
  src: url(./fonts/Inter-SemiBold.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./fonts/Inter-Thin.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(./fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "font-ital";
  src: url(./fonts/Merriweather-LightItalic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: url(../Styles/images/bg1.jpg) fixed center/cover;
}

.milieu {
  width: 85%;
  margin: 0 auto;
  background: rgb(233, 233, 233);
}

button {
  cursor: pointer;
  text-decoration: none;
  font-family: font-1;
  font-weight: 200;
  text-transform: uppercase;
  padding: 10px;
  font-size: 0.8rem;
  border-style: none;
  background: transparent;
  color: rgb(18, 18, 18);
  border: solid 1px rgb(18, 18, 18);
  display: block;
  margin: 30px auto;
}
button:hover {
  background: rgb(18, 18, 18);
  color: rgb(233, 233, 233);
  font-family: font-ital;
}
@media screen and (max-width: 700px) {
  button {
    font-size: 1rem;
    padding: 15px;
    letter-spacing: 4px;
  }
}

header h1 {
  font-family: font-bold, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 300px 100px 30px;
  margin: 0 auto;
  letter-spacing: 5px;
}
header p {
  font-family: font-ital, serif;
  color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .arrow-down i {
  font-size: 1rem;
  color: rgb(233, 233, 233);
  padding: 20px;
  border: solid 2px rgb(233, 233, 233);
  margin: 120px;
  border-radius: 10000000%;
}

nav {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 10%;
  background: rgba(255, 255, 255, 0.31);
}
@media screen and (max-width: 700px) {
  nav {
    display: flex;
  }
}
nav .nav {
  display: flex;
  justify-content: space-between;
  color: rgb(129, 129, 129);
}
@media screen and (max-width: 700px) {
  nav .nav {
    justify-content: space-around;
  }
}
nav .social {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 700px) {
  nav .social {
    display: none;
  }
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul .home {
  width: 100%;
  color: rgb(18, 18, 18);
  background: rgb(233, 233, 233);
}
nav ul button {
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 20px;
  text-decoration: none;
  font-family: font-1;
  text-transform: uppercase;
  font-size: 1rem;
  border-style: none;
  background: transparent;
  color: rgb(233, 233, 233);
}
nav ul button:hover {
  color: rgb(18, 18, 18);
  background: rgb(233, 233, 233);
}
nav ul button:hover ~ .home {
  background: transparent;
  color: rgb(233, 233, 233);
}
@media screen and (max-width: 570px) {
  nav ul button {
    font-size: 0.5rem;
    padding: 10px;
  }
}
nav a {
  text-decoration: none;
  color: rgb(129, 129, 129);
  font-size: 1rem;
}
nav a:hover {
  color: rgb(18, 18, 18);
}

.part-1 h4 {
  text-align: center;
  font-family: font-2;
  padding: 50px;
  position: relative;
  color: rgb(18, 18, 18);
}
@media screen and (max-width: 700px) {
  .part-1 h4 {
    font-size: 1.2rem;
  }
}
.part-1 h4:before {
  content: "";
  background: rgb(129, 129, 129);
  width: 25%;
  height: 0.5px;
  position: absolute;
  transform: translate(-300px, 10px);
}
@media screen and (max-width: 700px) {
  .part-1 h4:before {
    transform: translate(-160px, 10px);
    width: 20%;
  }
}
.part-1 h4:after {
  content: "";
  background: rgb(129, 129, 129);
  width: 25%;
  height: 0.5px;
  position: absolute;
  transform: translate(65px, 10px);
}
@media screen and (max-width: 700px) {
  .part-1 h4:after {
    transform: translate(40px, 10px);
    width: 20%;
  }
}
.part-1 h2 {
  font-family: font-bold;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 50%;
}
.part-1 p {
  font-family: font-ital;
  color: rgb(18, 18, 18);
  text-align: center;
  width: 40%;
  margin: 30px auto;
}
@media screen and (max-width: 700px) {
  .part-1 p {
    line-height: 40px;
  }
}
.part-1 .image-1 {
  background: url(./images/pic01.jpg) center/cover;
  height: 500px;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  .part-1 .image-1 {
    height: 300px;
  }
}

.part-2 {
  display: flex;
}
@media screen and (max-width: 700px) {
  .part-2 {
    flex-direction: column;
  }
}
.part-2 .news-1 {
  padding: 30px;
  box-shadow: 1px -1px 0px rgba(0, 0, 0, 0.2705882353);
}
@media screen and (max-width: 700px) {
  .part-2 .news-1 {
    box-shadow: none;
    position: relative;
  }
  .part-2 .news-1::before {
    content: "";
    width: 100%;
    height: 1px;
    transform: translateX(-30px);
    background: rgb(129, 129, 129);
    position: absolute;
  }
}
.part-2 .news-2 {
  padding: 30px;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2705882353);
}
@media screen and (max-width: 700px) {
  .part-2 .news-2 {
    box-shadow: none;
    position: relative;
  }
}
.part-2 h4 {
  text-align: center;
  font-family: font-2;
  font-size: 0.8rem;
  padding: 20px;
  color: rgb(18, 18, 18);
}
@media screen and (max-width: 700px) {
  .part-2 h4 {
    font-size: 1.2rem;
  }
}
.part-2 h3 {
  font-family: font-1;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 50%;
}
.part-2 p {
  text-align: justify;
  font-family: font-2;
  font-size: 0.8rem;
  color: rgb(18, 18, 18);
  line-height: 35px;
  width: 90%;
  margin: 0 auto;
}
.part-2 .img-2 {
  background: url(./images/pic02.jpg) center/cover;
  height: 300px;
  width: 90%;
  margin: 30px auto;
}
.part-2 .img-3 {
  background: url(./images/pic03.jpg) center/cover;
  height: 300px;
  width: 90%;
  margin: 30px auto;
}

footer {
  width: 85%;
  margin: 30px auto;
  background: rgb(233, 233, 233);
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 700px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}
footer .left-part {
  padding: 20px;
}
footer .left-part form {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  footer .left-part form {
    width: 80%;
    margin: 0 auto;
  }
}
footer .left-part form label {
  font-family: font-1;
  color: rgb(129, 129, 129);
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 20px 0;
}
footer .left-part form input {
  padding: 10px;
}
footer .left-part form input:focus {
  box-shadow: 1px 1px 1px rgb(0, 15, 128);
  border: solid 1px rgb(18, 18, 18);
}
footer .left-part form input[type=text] {
  border-style: none;
  border: 1px solid rgb(129, 129, 129);
  height: 40px;
  outline: none;
  background: transparent;
  border-radius: 3px;
}
footer .left-part form input[type=textarea] {
  border-style: none;
  border: 1px solid rgb(129, 129, 129);
  height: 100px;
  outline: none;
  background: transparent;
  border-radius: 3px;
}
footer .left-part form input[type=submit] {
  cursor: pointer;
  text-decoration: none;
  font-family: font-1;
  font-weight: 200;
  text-transform: uppercase;
  padding: 10px;
  font-size: 0.8rem;
  border-style: none;
  background: transparent;
  color: rgb(129, 129, 129);
  border: solid 1px rgb(129, 129, 129);
  width: 200px;
  margin: 30px 0;
}
footer .left-part form input[type=submit]:hover {
  background: rgb(18, 18, 18);
  color: rgb(233, 233, 233);
  font-family: font-ital;
}
@media screen and (max-width: 700px) {
  footer .right-part {
    position: relative;
  }
  footer .right-part::before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(129, 129, 129);
    position: absolute;
  }
}
footer .right-part div {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 20% 40%;
  gap: 1%;
  align-items: center;
  box-shadow: -1px 1px rgb(129, 129, 129);
  padding: 15px;
  height: 120px;
}
@media screen and (max-width: 700px) {
  footer .right-part div {
    grid-template-columns: 50% 50%;
    box-shadow: 0px 1px rgb(129, 129, 129);
    padding: 10px 30px;
  }
}
footer .right-part h6 {
  font-family: font-1;
  text-transform: uppercase;
  color: rgb(129, 129, 129);
  font-size: 0.8rem;
}
@media screen and (max-width: 700px) {
  footer .right-part h6 {
    margin: 20px;
  }
}
footer .right-part p {
  color: rgb(129, 129, 129);
  font-size: 0.8rem;
}
footer .right-part .social {
  display: flex;
  justify-content: space-around;
}
footer .right-part .social a {
  color: rgb(18, 18, 18);
  border: solid 0.5px rgb(129, 129, 129);
  padding: 10px;
  border-radius: 1000px;
  margin: 10px;
  font-size: 0.8rem;
}
@media screen and (max-width: 700px) {
  footer .right-part .social a {
    justify-content: space-between;
    margin: 3px;
  }
}/*# sourceMappingURL=index.css.map */